
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>设置页</title>
</head>
<body>
    <!-- Modal -->
    <div class="modal-body">
        <div class="row span2">
            <label>数据控件绑定实体: </label>
            <select class="form-control input-lg m-bot15" id="ddlEntityDef">
                <option value="null">--实体列表--</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">取消</button>
        <button class="btn btn-primary" data-dismiss="modal" onclick="entitydeflist.saveEntityBinding();">确定</button>
        <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true" onclick="fieldManager.deleteBindingControl();">删除</button>
    </div>

    <script type="text/javascript" src="~/ViewJS/entitydeflist.js"></script>
    <script type="text/javascript">
        $(function () {
            entitydeflist.loadEntityDefList();
        })
    </script>

</body>
</html>
