@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>FormMaster Designer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" href="~/Content/jquery-ui/jquery-ui.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap-3.3.7.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap-theme-3.3.7.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap-dialog.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="~/Content/bootstrap/bootstrap-progressbar-3.3.4.min.css" />

    <link rel="stylesheet" href="~/Content/ag-grid/ag-grid.css" />
    <link rel="stylesheet" href="~/Content/ag-grid/theme-bootstrap.css" />

    <link href="~/Content/msgBoxLight.css" rel="stylesheet" />
    <link href="~/Content/master.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

    <style type="text/css" media="screen">
        /* Styles that are also copied for Preview */
        body {
            margin: 10px 0 0 10px;
        }

        .control-label {
            display: inline-block !important;
            text-align: right;
            vertical-align: baseline;
            padding-right: 10px;
            padding-top:5px;
        }

        .ctrl-textbox {
            width: 50% !important;
        }

        .droppedField {
            padding-left: 5px;
        }

            .droppedField > input, select, button, .checkboxgroup, .selectmultiplelist, .radiogroup {
                margin-top: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
            }

        .action-bar .droppedField {
            float: left;
            padding-left: 5px;
        }

        .modal-backdrop {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            background-color: #000;
        }

        .progress-bar.animate {
            width: 100%;
        }

        .dropdown.open {
            z-index: 9000 !important;
        }

        /*最大屏幕分辨率为1280px*/
        @@media screen and (max-width:1280px){
            .content-main {
                width: 40%
            }
        }
        /*最小屏幕分辨率为1280px且最大为1440px*/
        @@media (min-width: 1280px) and (max-width:1440px){
            .content-main {
                width: 60%
            }
        }
        /*最小屏幕分辨率为1440px且最大为1680px*/
        @@media (min-width: 1440px) and (max-width:1680px){
            .content-main {
                width: 80%
            }
        }
        /*最小屏幕分辨率为1920px*/
        @@media screen and (min-width:1920px){
            .content-main {
                width: 100%
            }
        }
    </style>
</head>
<body>
    <div class="container-fluid content-main">
        <div class="row" style="margin-left:60px;">
            <div style="float:left;">
                <a href="#" class="btn btn-info" onclick="kmaster.createEntityDef();"><span class="glyphicon glyphicon-file lang" as="new"></span> </a>
                <a href="#" class="btn btn-info" onclick="kmaster.openEntityDef();"><span class="glyphicon glyphicon-share lang" as="open"></span> </a>
                <a href="#" class="btn btn-info" onclick="kmaster.validatedSaveTemplate();"><span class="glyphicon glyphicon-ok lang" as="save"></span> </a>
                <a href="#" class="btn btn-info" onclick="kmaster.previewForm();"><span class="glyphicon glyphicon-search lang" as="preview"></span> </a>
            </div>
            <div class="dropdown" style="float:left;margin-left: 5px;">
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-th lang" as="setting"> </span><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="kmaster.showAdjustDialog();" class="lang" as="inserttable"></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="kmaster.showAttributeList();" class="lang" as="fieldlist"></a></li>
                </ul>
            </div>
            <div class="dropdown" style="float:left;margin-left: 5px;">
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-transfer lang" as="process"> </span><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="kmaster.bindProcess();" class="lang" as="bindprocess"></a></li>
                    <li class="divider">&nbsp</li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" onclick="kmaster.runProcess();" class="lang" as="formrun"></a></li>
                </ul>
            </div>
            <div class="dropdown" style="float:left;margin-left: 5px;">
                <a class="btn btn-info dropdown-toggle" data-toggle="dropdown"><span class="glyphicon glyphicon-globe lang" as="options"> </span><span class="caret"></span></a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="lang" as="en" onclick="kmaster.changeLang('en');"></a></li>
                    <li role="presentation"><a role="menuitem" tabindex="-1" href="#" class="lang" as="zh" onclick="kmaster.changeLang('zh');"></a></li>
                </ul>
            </div>
        </div>
    </div>
    <legend></legend>
    <div class="container-fluid">
        <div class="row">
            <!-- begin of draggable control list -->
            <div class="col-md-2">
                <b class="lang" as="inputfield"></b>
                <!-- 简单字段 -->
                <div class="selectorField draggableField">
                    <div class="textbox well well-mini"><b></b><span class="lang" as="ctrllabel"></span></div>
                    <div class="modele">
                        <label class="a_tit ctrl-label control-label" style="width:200px;">MyLabel</label>
                        <input class="hiddenMandatory" type="hidden" />
                        <input class="hiddenAttributeEntity" type="hidden" />
                    </div>
                </div>

                <div class="selectorField draggableField">
                    <div class="textbox well well-mini"><b></b><span class="lang" as="ctrltextbox"></span></div>
                    <div class="modele">
                        <label class="a_tit control-label mandatory-field">TextBox</label>
                        <input class="ctrl-textbox form-control" type="text" style="width:200px;" placeholder="please input your text..." />
                        <input class="hiddenMandatory" type="hidden" />
                        <input class="hiddenAttributeEntity" type="hidden" />
                    </div>
                </div>

                <div class="selectorField draggableField">
                    <div class="password well well-mini"><b></b><span class="lang" as="ctrlpassword"></span></div>
                    <div class='modele'>
                        <label class="a_tit control-label mandatory-field">Password</label>
                        <input class="ctrl-passwordbox form-control" type="password" style="width:340px;" placeholder="please input your password..." />
                        <input class="hiddenMandatory" type="hidden" />
                        <input class="hiddenAttributeEntity" type="hidden" />
                    </div>
                </div>

                <div class="selectorField draggableField">
                    <div class="combobox well well-mini"><b></b><span class="lang" as="ctrldropdownbox"></span></div>
                    <div class='modele'>
                        <label class="a_tit control-label mandatory-field" as="DropdownList">DropdownList</label>
                        <select class="ctrl-combobox form-control" style="width:150px;">
                            <option value="option1">Option 1</option>
                            <option value="option2">Option 2</option>
                            <option value="option3">Option 3</option>
                        </select>
                        <input class="hiddenMandatory" type="hidden" />
                        <input class="hiddenAttributeEntity" type="hidden" />
                    </div>
                </div>

                <div class='selectorField draggableField'>
                    <div class="radiogroup well well-mini"><b></b><span class="lang" as="ctrlradiobutton"></span></div>
                    <div class='modele'>
                        <label class="a_tit control-label mandatory-field" style="vertical-align:top">RadioButton</label>
                        <!--with vertical scroll bar height:200px; overflow-y: scroll;-->
                        <div class="ctrl-radiogroup" style="display:inline-block;">
                            <span style="display:block;"><input type="radio" name="" value="option1" />Option 1</span>
                            <span style="display:block;"><input type="radio" name="" value="option2" />Option 2</span>
                            <span style="display:block;"><input type="radio" name="" value="option3" />Option 3</span>
                        </div>
                        <input class="hiddenMandatory" type="hidden" />
                        <input class="hiddenAttributeEntity" type="hidden" />
                    </div>
                </div>

                <div class='selectorField draggableField'>
                    <div class="checkboxgroup well well-mini"><b></b><span class="lang" as="ctrlcheckbox"></span></div>
                    <div class='modele'>
                        <label class="a_tit control-label mandatory-field" style="vertical-align:top">CheckBox</label>
                        <div class="ctrl-checkboxgroup" style="display:inline-block;">
                            <span style="display:block;"><input type="checkbox" name="checkboxField" value="option1" />Option 1</span>
                            <span style="display:block;"><input type="checkbox" name="checkboxField" value="option2" />Option 2</span>
                            <span style="display:block;"><input type="checkbox" name="checkboxField" value="option3" />Option 3</span>
                        </div>
                        <input class="hiddenMandatory" type="hidden" />
                        <input class="hiddenAttributeEntity" type="hidden" />
                    </div>
                </div>

                <div class='selectorField draggableField'>
                    <div class="selectmultiplelist well well-mini"><b></b><span class="lang" as="ctrllistbox"></span></div>
                    <div class='modele'>
                        <label class="a_tit control-label mandatory-field" style="vertical-align:top">ListBox</label>
                        <div style="display:inline-block;">
                            <select class="ctrl-selectmultiplelist form-control" multiple="multiple" style="width:150px">
                                <option value="option1">Option 1</option>
                                <option value="option2">Option 2</option>
                                <option value="option3">Option 3</option>
                            </select>
                            <input class="hiddenMandatory" type="hidden" />
                            <input class="hiddenAttributeEntity" type="hidden" />
                        </div>
                    </div>
                </div>

                <b class="lang" as="datetimetext"></b>
                <div class='selectorField draggableField'>
                    <div class="displaydate well well-mini"><b></b><span class="lang" as="ctrltime"></span></div>
                    <div class='modele date'>
                        <label class="a_tit control-label mandatory-field">DateTime</label>
                        <input class="ctrl-date form_datetime form-control" size="16" type="text" style="width:150px;" readonly>
                        <input class="hiddenMandatory" type="hidden" />
                        <input class="hiddenAttributeEntity" type="hidden" />
                    </div>
                </div>

                <div class='selectorField draggableField'>
                    <div class="displaytext well well-mini"><b></b><span class="lang" as="ctrltextarea"></span></div>
                    <div class='modele'>
                        <label class="a_tit control-label mandatory-field">TextArea</label>
                        <textarea class="ctrl-text form-control" rows="3"></textarea>
                        <input class="hiddenMandatory" type="hidden" />
                        <input class="hiddenAttributeEntity" type="hidden" />
                    </div>
                </div>

                <b class="lang" as="ctrldatatable"></b>
                <div class='selectorField draggableField'>
                    <div class="agtable well well-mini"><b></b><span class="lang" as="ctrldatatable"></span></div>
                    <div class='modele'>
                        <label class="control-label mandatory-field" style="vertical-align:top">DataTable</label>
                        <div class="ag-bootstrap ctrl-datatable" style="width:400px;height:100px;"></div>
                        <input class="hiddenAttributeEntity" type="hidden" />
                    </div>
                </div>
                <!-- button -->
                <b class="lang" as="ctrlbutton"></b>
                <div class='selectorField draggableField'>
                    <div class="textbox well well-mini"><b></b><span class="lang" as="linkbutton"></span></div>
                    <div class="modele">
                        <a class="unclick ctrl-hyperlink" href="" target="_blank">HyperLink</a>
                        <input class="hiddenAttributeEntity" type="hidden" />
                    </div>
                </div>
                <div class='selectorField draggableField'>
                    <button class="btn ctrl-btn lang" as="simplebutton"></button>
                    <div class="modele">
                        <button class="btn ctrl-btn form-control">Button</button>
                        <input class="hiddenAttributeEntity" type="hidden" />
                    </div>
                </div>
                <div class='selectorField draggableField'>
                    <button class="btn btn-primary ctrl-btn lang" as="commonbutton"></button>
                    <div class="modele">
                        <button class="btn btn-primary ctrl-btn form-control">ComBtn</button>
                        <input class="hiddenAttributeEntity" type="hidden" />
                    </div>
                </div>
                <div class='selectorField draggableField'>
                    <button class="btn btn-success ctrl-btn"><i class="icon-ok-sign icon-white lang" as="savebutton"></i></button>
                    <div class="modele">
                        <button class="btn btn-success ctrl-btn form-control"><i class="icon-ok-sign icon-white"></i>SaveBtn</button>
                        <input class="hiddenAttributeEntity" type="hidden" />
                    </div>
                </div>
                <div class='selectorField draggableField'>
                    <button class="btn btn-danger ctrl-btn"><i class="icon-trash icon-white lang" as="deletebutton"></i></button>
                    <div class="modele">
                        <button class="btn btn-danger ctrl-btn form-control"><i class="icon-trash icon-white"></i>DelBtn</button>
                        <input class="hiddenAttributeEntity" type="hidden" />
                    </div>
                </div>
                <div class='selectorField draggableField'>
                    <button class="btn btn-info ctrl-btn"><i class="icon-file icon-white lang" as="fileupload"></i></button>
                    <div class="modele">
                        <button class="btn btn-info ctrl-btn ctrl-btn-fileupload form-control"><i class="icon-file icon-white"></i>FileUpload</button>
                        <input class="hiddenAttributeEntity" type="hidden" />
                    </div>
                </div>
            </div>
            <!-- end of draggable control list-->
            <!-- begin of dropped control list-->
            <div class="col-md-10">
                <div class="col-md-12" id="selected-content">
                    <div class="row" id="form-title-div" style="margin-bottom:10px;">
                        <input type="text" class="form-control input-large col-md-12" placeholder="please input the form title..." id="txtFormTitle" onclick="kmaster.popupEntityDef();" />
                    </div>
                    <div class="row">
                        <div class="col-md-5 well droppedFields" style="z-index:0;margin-right:10px;"></div>
                        <div class="col-md-5 well droppedFields" style="z-index:0;"></div>
                    </div>
                    <div class="row">
                        <div class="col-md-10 well action-bar droppedFields" style="min-height:80px;z-index:0;"></div>
                    </div>
                </div>
            </div>
            <!-- end of dropped control list-->
        </div>
    </div>

    <!-- beginning of Modal HTML Page-->
    <div id="modalSettingForm" class="modal hide eavModalDialog" style="width:600px;height:400px;">
        <div class="modal-dialog">
            <!-- Modal -->
            <div class="modal-body">
                <!-- Content will be loaded here from "remote.php" file -->
            </div>
        </div>
    </div>

    <div id="modalEntityAttributeListDialog" class="modal hide eavModalDialog" style="width:600px;height:400px;">
        <div class="modal-dialog">
            <!-- Modal -->
            <div class="modal-body" id="modalAttributeListContent">
                <!-- Content will be loaded here from "remote.php" file -->
            </div>
        </div>
    </div>
    <!-- end of modal html page -->
    <!-- beginning of Template declaration -->
    <script id="form-template" type="text/x-handlebars-template">
        <div class="modal-body">
            <form id="defForm" class="form-horizontal">
                <div class="row form-group required">
                    <p id="pLabel">
                        <label class="a_tit control-label mandatory-field lang" as="formtitle" for="handlebars-textbox-label"></label>
                        <input type="text" name="label" value="{{label}}" id="handlebars-textbox-label" class="form-control" style="width:340px;" />
                    </p>
                    <p>
                        <label class="a_tit control-label mandatory-field lang" as="formname" for="handlebars-textbox-name"></label>
                        <input type="text" value="{{name}}" name="name" id="handlebars-textbox-name" class="form-control" style="width:340px;" />
                    </p>
                    <p>
                        <label class="a_tit control-label mandatory-field lang" as="version" for="handlebars-textbox-version"></label>
                        <input type="text" value="{{version}}" name="version" id="handlebars-textbox-version" class="form-control" style="width:340px;" placeholder="default value is 1" />
                    </p>
                    <p>
                        <label class="a_tit control-label lang" as="formdescription" for="handlebars-textbox-desc"></label>
                        <input type="text" value="{{desc}}" name="desc" id="handlebars-textbox-desc" class="form-control" style="width:340px;" />
                    </p>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary lang" as="save" data-dismiss="modal" onclick="eavManager.saveEntityDef();"></button>
            <button class="btn lang" as="cancel" data-dismiss="modal" aria-hidden="true"></button>
        </div>
        <script type="text/javascript">
            kresource.localize();
        </script>
    </script>
    <script id="control-customize-template" type="text/x-handlebars-template">
        <div class="modal-body">
            <form id="eavForm" class="form-horizontal">
                <input type="hidden" value="{{type}}" name="type" />
                <input type="hidden" value="{{forCtrl}}" name="forCtrl" />
                <input type="hidden" value="{{format}}" name="format" />
                <p id="pLabel">
                    <label class="a_tit control-label lang" as="controltitle" for="handlebars-textbox-title"></label>
                    <input type="text" name="title" value="" id="handlebars-textbox-title" class="form-control" style="width:340px;" />
                </p>
                <p id="tLabel" style="display:none;">
                    <label class="a_tit control-label lang" as="datatype" for="handlebars-combobox-datatype"></label>
                    <select id="handlebars-combobox-datatype" name="dataType" style="width:180px" class="form-control ctrl-combobox">
                        <option class="lang" as="dtstring" value="1"></option>
                        <option class="lang" as="dtinteger" value="2"></option>
                        <option class="lang" as="dtdecimal" value="3"></option>
                        <option class="lang" as="dttime" value="4"></option>
                        <option class="lang" as="dtbigtext" value="5"></option>
                    </select>
                </p>

                {{{content}}}

                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist">
                    <li class="hideme"><a href="#inputcontrolvariable" role="tab" data-toggle="tab" id="tabControlVar" class="lang" as="mytabs.inputcontrolvariable"></a></li>
                    <li class="hideme"><a href="#commandtext" role="tab" data-toggle="tab" id="tabCommandText" class="lang" as="mytabs.commandtext"></a></li>
                    <li class="hideme"><a href="#datasource" role="tab" data-toggle="tab" id="tabDataSource" class="lang" as="mytabs.datasource"></a></li>
                    <li class="hideme"><a href="#bindingevent" role="tab" data-toggle="tab" id="tabBindingEvent" class="lang" as="mytabs.bindingevent"></a></li>
                    <li class="hideme"><a href="#datatable" role="tab" data-toggle="tab" id="tabDataTable" class="lang" as="mytabs.datatable"></a></li>
                    <li class="hideme"><a href="#hyperlink" role="tab" data-toggle="tab" id="tabHyperLink" class="lang" as="mytabs.hyperlink"></a></li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content">
                    <div class="tab-pane" id="inputcontrolvariable">
                        <div class="row">
                            <p id="pMandatory">
                                <label class="a_tit control-label lang" as="mandatory" for="checkbox-checkbox-mandatory"></label>
                                <input type="checkbox" name="mandatory" value="" id="checkbox-checkbox-mandatory" />
                            </p>
                            <p id="pConditionKey">
                                <label class="a_tit control-label lang" as="conditionkey" for="handlebars-textbox-conditionkey"></label>
                                <input type="text" name="conditionKey" value="" placeholder="Condition KEY Name(Optional)..." id="handlebars-textbox-conditionkey" class="form-control" style="width:340px;" />
                            </p>
                            <p id="pVariableName">
                                <label class="a_tit control-label lang" as="variablename" for="handlebars-textbox-conditionkey"></label>
                                <input type="text" name="variableName" value="" placeholder="Variable Name(Optional)..." id="handlebars-textbox-variablename" class="form-control" style="width:340px;" />
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane" id="datasource">
                        <div class="row">
                            <p id="pDataSourceType">
                                <label class="a_tit control-label lang" as="datasourcetype" for="ddlDataSourceType"></label>
                                <select class="ctrl-combobox form-control" id="ddlDataSourceType" name="dataSourceType" style="width:340px;">
                                    <option selected="selected" value="0">--Select--</option>
                                    <option value="1" class="lang" as="datasourcetype.customized"></option>
                                    <option value="2" class="lang" as="datasourcetype.localdatatable"></option>
                                    <option value="3" class="lang" as="datasourcetype.SQL"></option>
                                    <option value="4" class="lang" as="datasourcetype.StoreProcedure"></option>
                                    <option value="5" class="lang" as="datasourcetype.WebAPI"></option>
                                </select>

                                <div id="divDataSourceTypeDataEntryInfo">
                                    <!-- Nav tabs -->
                                    <ul class="nav nav-tabs" role="tablist">
                                        <li class="hideme"><a href="#dscustomized" role="tab" data-toggle="tab" id="tabDsCustomized" class="lang" as="datasourcetype.customized"></a></li>
                                        <li class="hideme"><a href="#entityinfo" role="tab" data-toggle="tab" id="tabEntityInfo" class="lang" as="datasourcetype.datainfo"></a></li>
                                        <li class="hideme"><a href="#cascadefield" role="tab" data-toggle="tab" id="tabCascadeField" class="lang" as="datasourcetype.cascadecontrol"></a></li>
                                    </ul>
                                    <!-- Tab panes -->
                                    <div class="tab-content">
                                        <div class="tab-pane" id="dscustomized">
                                            <div class="row" id="divDataSourceTypeCustomized">
                                                <label class="a_tit control-label lang" as="options"></label>
                                                <textarea name="options" rows="5"></textarea>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="entityinfo">
                                            <div class="row">
                                                <label class="a_tit control-label lang" as="datasourcetype.entryinfo"></label>
                                                <input class="form-control" id="txtDataEntityName" name="dataEntityName" type="text" style="width:340px;" placeholder="please input data entity source info..." />
                                                <label class="a_tit control-label lang" as="datasourcetype.valuefiled"></label>
                                                <input class="form-control" id="txtDataValueField" name="dataValueField" type="text" style="width:340px;" placeholder="please input data value field name(Case Sensitive)..." />
                                                <label class="a_tit control-label lang" as="datasourcetype.textfield"></label>
                                                <input class="form-control" id="txtDataTextField" name="dataTextField" type="text" style="width:340px;" placeholder="please input data text field name(Case Sensitive)..." />
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="cascadefield">
                                            <div class="row">
                                                <label class="a_tit control-label lang" as="datasourcetype.cascadecontrollist"></label>
                                                <select class="ctrl-combobox form-control" id="ddlDataSourceCascadeControl" name="cascadeControlID" style="width:340px;"></select>
                                                <label class="a_tit control-label lang" as="datasourcetype.cascadefieldkey"></label>
                                                <input class="form-control" id="txtCascadeFieldName" name="cascadeFieldName" type="text" style="width:340px;" placeholder="please input cascade field key info..." />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane" id="bindingevent">
                        <div class="row">
                            <label class="a_tit lang" as="html.event.eventname"></label>
                            <select id="ddlHtmlEventName" class="form-control" style="width:340px;">
                                <option value="default">--default--</option>
                                <option value="onchange">onchange</option>
                                <option value="onclick">onclick</option>
                            </select>
                            <label class="a_tit lang" as="html.event.commandtext"></label>
                            <textarea id="txtHtmlCommandText" class="form-control" style="height:80px;width:340px;"></textarea>
                            <label class="a_tit lang" as="html.event.isdisabled"></label>
                            <input type="checkbox" id="chkIsEventDisabled" value="0" />
                        </div>
                        <div class="row">
                            <img src="Content/images/save.gif" onclick="attributelist.saveEvent();">
                            <img src="Content/images/delete.png" onclick="attributelist.delEvent();">
                        </div>
                        <div class="row">
                            <div id="myBindingEventGrid" class="ag-bootstrap" style="width:100%;height:120px;float:left;margin-top:10px;"></div>
                        </div>
                    </div>
                    <div class="tab-pane" id="commandtext">
                        <div class="row">
                            <p id="pCommandText">
                                <span class="a_tit control-label lang" as="commandtext"></span>
                                <textarea rows="3" name="commandText" value="" placeholder="Please input command text...such as alert('Hello World!');" id="handlebars-textarea-commandtext" class="bcxj form-control" style="width:340px;"></textarea>
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane" id="datatable">
                        <div class="row">
                            <p id="pDataTable">
                                <span class="a_tit control-label lang" as="datacontrolbindingentity"></span>
                                <select id="ddlEntityDef" style="width:180px" class="form-control ctrl-combobox">
                                    <option class="lang" as="formoptionslist" value="null"></option>
                                </select>
                                <div id="handlebars-div-datatable" class="ag-bootstrap" style="width:100%;height:100px;float:left;display:none;"></div>
                            </p>
                        </div>
                    </div>
                    <div class="tab-pane" id="hyperlink">
                        <div class="row">
                            <p id="pHyperLink">
                                <label class="a_tit control-label lang" as="hyperlink" for="handlebars-textbox-hyperlink"></label>
                                <input type="text" name="hyperlink" value="" id="handlebars-textbox-hyperlink" class="form-control" style="width:340px;" placeholder="http://example.com" />
                            </p>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary lang" as="save" data-dismiss="modal" onclick="fieldManager.saveAttribute(); "></button>
            <button class="btn lang" as="cancel" data-dismiss="modal" aria-hidden="true"></button>
            <button class="btn btn-danger lang" as="delete" data-dismiss="modal" aria-hidden="true" onclick="fieldManager.deleteField();"></button>
        </div>
        <script type="text/javascript">
            kresource.localize();
        </script>
    </script>

    <script id="label-template" type="text/x-handlebars-template">
        <p id="pTips">
            <label class="a_tit control-label lang" as="tips"></label>
        </p>
    </script>

    <script id="textbox-template" type="text/x-handlebars-template">
        <p id="pTips">
            <label class="a_tit control-label lang" as="tips"></label>
            <input type="text" name="placeholder" value="" class="form-control" style="width:340px;" />
        </p>
    </script>

    <script id="combobox-template" type="text/x-handlebars-template">
        <p></p>
    </script>

    <script id="text-template" type="text/x-handlebars-template">
        <p></p>
    </script>

    <script id="hyperlink-template" type="text/x-handlebars-template">
        <p></p>
    </script>

    <script id="date-template" type="text/x-handlebars-template">
        <p>
            <label class="control-label lang" as="format" for="handlebars-textbox-formatdate" style="padding-top:16px;"></label>
            <select name="dateFormat" id="handlebars-textbox-formatdate">
                <option value="YYYY/MM/DD">YYYY/MM/DD</option>
                <option value="YYYY/MM/DD hh:mm:ss">YYYY/MM/DD hh:mm:ss</option>
            </select>
        </p>
    </script>
    <!-- end of Template declaration-->

    <span style="position:absolute;padding-top:4px; padding-right: 8px; height: 20px; display:none;z-index:9000;" id="divDeleteTable">
        <a href="#" onclick="kmaster.deleteTable();"><img src="~/Content/images/delete.png" alt="" /></a>
    </span>

    <!--Progress Bar-->
    <div class="modal js-loading-bar">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="progress">
                        <div class="bar" data-transitiongoal="75"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="~/Scripts/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery-ui-1.10.3.min.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery/jquery.event.drag-2.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.msgBox.js"></script>
    <script type="text/javascript" src="~/Scripts/later.min.js"></script>

    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap-dialog.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap-progressbar.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap-datepicker.zh-CN.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootbox.min.js"></script>

    <script type="text/javascript" src="~/Scripts/handlebars.js"></script>
    <script type="text/javascript" src="~/Scripts/jshelper.js"></script>
    <script type="text/javascript" src="~/Scripts/localhelper.js"></script>
    <script type="text/javascript" src="~/Scripts/slick.event.js"></script>

    <!-- ag-grid-->
    <script type="text/javascript" src="~/Scripts/ag-grid/ag-grid.min.js"></script>

    <script type="text/javascript" src="~/ViewJS/kcommon.js"></script>
    <script type="text/javascript" src="~/ViewJS/kmsgbox.js"></script>
    <script type="text/javascript" src="~/ViewJS/kresource.js"></script>
    <script type="text/javascript" src="~/ViewJS/kmaster.js"></script>
    <script type="text/javascript" src="~/ViewJS/kbuilder.js"></script>
    <script type="text/javascript" src="~/ViewJS/entitydeflist.js"></script>
    <script type="text/javascript" src="~/ViewJS/eavmanager.js"></script>
    <script type="text/javascript" src="~/ViewJS/attributelist.js"></script>
    <script type="text/javascript" src="~/ViewJS/setting.js"></script>

    <script type="text/javascript">
        $(function () {
            kresource.localize();
            kmaster.docReady();

            $('.eavModalDialog', ' body').on('hidden', function () {
                $(this).removeData('modal');
                $('.modal-body', this).empty();
            })

            window.onbeforeunload = function () {
                return kresource.getItem("leavewarningmessage");
            };
        })
    </script>

</body>
</html>
