@{
    Layout = null;
}
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta name="viewport" charset="UTF-8" content="width=device-width, initial-scale=1.0">
    <link href="~/Content/jquery-ui/jquery-ui.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap-3.3.7.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/bootstrap-theme-3.3.7.min.css" rel="stylesheet" />
    <link href="~/Content/msgBoxLight.css" rel="stylesheet" />
    <link href="~/Content/master.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />

    <style type="text/css" media="screen">
        /* Styles that are also copied for Preview */
        body {
            margin: 10px 0 0 10px;
        }

        .control-label {
            display: inline-block !important;
            text-align: right;
            vertical-align: baseline;
            padding-right: 10px;
        }

        .ctrl-textbox {
            width: 50% !important;
        }

        .droppedField {
            padding-left: 5px;
        }

            .droppedField > input, select, button, .checkboxgroup, .selectmultiplelist, .radiogroup {
                margin-top: 10px;
                margin-right: 10px;
                margin-bottom: 10px;
            }

        .action-bar .droppedField {
            float: left;
            padding-left: 5px;
        }

        .modal-backdrop {
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 2;
            background-color: #000;
        }

        .progress-bar.animate {
            width: 100%;
        }

        .dropdown.open {
            z-index: 9000 !important;
        }

        .form-group.required .control-label:after {
            content: "*";
            color: red;
        }

        /*最大屏幕分辨率为1280px*/
        @@media screen and (max-width:1280px) {
            .content-main {
                width: 40%
            }
        }
        /*最小屏幕分辨率为1280px且最大为1440px*/
        @@media (min-width: 1280px) and (max-width:1440px) {
            .content-main {
                width: 60%
            }
        }
        /*最小屏幕分辨率为1440px且最大为1680px*/
        @@media (min-width: 1440px) and (max-width:1680px) {
            .content-main {
                width: 80%
            }
        }
        /*最小屏幕分辨率为1920px*/
        @@media screen and (min-width:1920px) {
            .content-main {
                width: 100%
            }
        }
    </style>
    <title>Test</title>

</head>
<body>
    <legend class="lang" as="pagepreview"></legend>
    <div class="row">
        <form id="defForm" class="form-horizontal">
            <div class="row form-group required">
                <label class="control-label">name</label>
                <input type="text"  style="width:340px;" />
            </div>
        </form>
    </div>

    <script type="text/javascript" src="~/Scripts/jquery/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery-ui-1.10.3.min.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery/jquery.event.drag-2.2.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery/jquery.msgBox.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap/bootstrap.min.js"></script>


    <script type="text/javascript">
        $(function () {

        })
    </script>
</body>
</html>
