@{
    Layout = null;
}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Form List</title>
</head>
<body>
    <!-- Modal -->
    <div class="modal-body">
        <div class="row">
            <b class="icoBtn btnUp" onclick="entitydeflist.upgrade();" title="Upgrade"></b>
            <b class="icoBtn btnRefresh" onclick="entitydeflist.refresh();" title="Delete"></b>
            <div id="myEntityDefGrid" class="ag-bootstrap" style="width:100%;height:300px;float:left;"></div>
            <img src="~/Content/images/ajax-loader.gif" id="loading-indicator" style="position: fixed; left: 40%; top: 40%; display: none;" />
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary lang" as="sure" data-dismiss="modal" onclick="entitydeflist.sure();"></button>
        <button class="btn lang" as="cancel" data-dismiss="modal" aria-hidden="true"></button>
        <button class="btn btn-danger lang" as="delete" onclick="entitydeflist.delete();"></button>
    </div>

    <script type="text/javascript">
        $(function () {
            kresource.localize();
            entitydeflist.load();
        });
    </script>
</body>
</html>
